body{
    background-image: url("../img/background-contatos.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
main{
    margin: 30vh auto;
    background-color: #fff;
    width: 40vh;
    border-radius: 10px;
    text-align: center;
}
article{
    padding: 30px 40px 30px 40px;
}
article > h2{
    font-size: 3em;
    padding: 15px;
}
article > p{
    font-size: 1.3em;
}
.link:visited, .link:link{
    color: #747474;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.title{
    padding: 15px;
    font-size: 3.2em;
    color: #fff;
    background-color: #8ec045;
    border-radius: 10px 10px 0 0;
}