body{
    background-image: url("img/background-contatos.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
main{
    margin: 20vh auto;
    background-color: #fff;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}
p{
    font-size: 1.5em;
}
article > h2{
    font-size: 3em;
    padding-bottom: 15px;
}
article{
    padding-top: 30px;
    padding-bottom: 30px;
}
.link:visited, .link:link{
    color: #747474;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.title{
    padding: 10px;
    font-size: 3.2em;
    color: #fff;
    background-color: #8ec045;
    border-radius: 10px 10px 0 0;
}