body{
    background-image: url("https://img.freepik.com/fotos-premium/contacte-nos-atendimento-ao-cliente-pessoas-da-linha-direta-conecte-se-ligue-para-o-atendimento-ao-cliente-endereco-de-e-mail-chat-ao-vivo-internet-wifi_36325-3415.jpg?w=2000");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
main{
    margin: 20vh auto;
    padding: 20px;
    background-color: #fff;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}
p{
    font-size: 1.5em;
}
article > h2{
    font-size: 3em;
    padding-bottom: 15px;
}
article{
    padding-top: 30px;
    padding-bottom: 30px;
}
.link:visited, .link:link{
    color: #747474;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
