@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    padding-left: 50vh;
}

header{
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #fff 50vh, #8EC045);
}
nav{
    padding-bottom: 10px;
    background-image: linear-gradient(to right, #fff 50vh, #8EC045);
}
nav > a{
    padding: 10px;
}
#logo{
    display: inline;
    height: 150px;
}
nav > a:link, nav > a:visited{
    text-decoration: none;
}

nav > a:hover{
    transition: 500ms;
    background-color: #8EC045;
    color: #fff;
}